body {
    background-color: #88919a22;
}

h1 {
    text-align: center;
    color: #dc86e2;
    margin-top: 11%;
}

.mainMenu {
    padding-left: 45%;
    font-size: 23px;
    font-weight: 700;
}

.mainMenu ul li a {
    color: red;
    text-decoration: none;
}